/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* viewport */
/* body, html, #root {
  width: 100%;
  height: 100%;
} */

html, body, #root {
  min-height: 100vh;
}

body {
  height: 100%;
}

/* interactive elements */
button, input, select, textarea {
  appearance: none;
  background-color: transparent;
  border: 1px solid;
}